<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>web.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>web.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>web.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyGsonMatrixServlet</servlet-name>
        <servlet-class>jquery.datatables.controller.CompanyGsonMatrixServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyGsonObjectsServlet</servlet-name>
        <servlet-class>jquery.datatables.controller.CompanyGsonObjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersGsonMatrix</servlet-name>
        <servlet-class>web.UsersGsonMatrix</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyGsonMatrixServlet</servlet-name>
        <url-pattern>/CompanyGsonMatrixServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyGsonObjectsServlet</servlet-name>
        <url-pattern>/CompanyGsonObjectsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersGsonMatrix</servlet-name>
        <url-pattern>/UsersGsonMatrix</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
